extends layouts/layout

block content
  button.w3-btn.w3-round-large(onclick="window.location.href = '/logout'") Logout
  h1 Pagina de um aluno
  img(src="/ficheiros/"+ lista.foto.name  width="80%") 
    
