doctype html
html
  head
    title ISN
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/styles-logged.css')

  body
    include elements/navbar.pug
    block content

  script(src="/scripts/jquery-3.4.1.slim.min.js")
  script(src="/scripts/popper.min.js")
  script(src="/scripts/bootstrap.min.js")
  script(src="/scripts/axios.min.js")
  script(src="/scripts/script.js")
