extends layout

block content
      .container-fluid.login
        img(src="http://danielzawadzki.com/codepen/01/icon.svg", id="icon",alt="User Icon")
        form(method='POST' action='/login')
          .form-group
            label Número de aluno:
            input(type="text" id="login" class="form-control" name="numAluno" placeholder="Número de aluno")
          .form-group
            label Password: 
            input(type="text" id="password" class="form-control" name="password" placeholder="Password")
        
          input(type="submit" class="btn btn-success" value="Log In")

        br
        a(class="btn btn-success" href="/register") Register          

