extends layout

block content
      .container-fluid.h-100
        .d-flex.justify-content-center.h-100
          .card
            .card-header
              h3 Registo
              .d-flex.justify-content-end.social_icon
            .card-body
              form(method='POST' action='/reg' enctype='multipart/form-data' onsubmit="return validateFormRegisto()")

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-hashtag
                  input.form-control(type='text' id="registerNumAluno" name="numAluno" placeholder='Número de aluno')

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-at
                  input.form-control(type='email' id='registerEmail' name='email' placeholder='Email')


                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-user
                  input.form-control(type='text' id='registerNome' name='nome' placeholder='Nome')

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-key
                  input.form-control(type='password' id='registerPassword' name='password' placeholder='Password')

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-images
                  input.form-control(type='file' id='registerImagem' name='imagem' accept='image/*')

                .text-center.mb-2
                  img#preview.rounded(src='#' alt='.' height='50%' width='50%')

                .form-group
                  input.btn.float-right.login_btn(type='submit' value='Registar')

            .card-footer
              .d-flex.justify-content-center.links
                a.btn.login_btn(href="/login") Login

block script
  script.
    function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
    $('#preview').attr('src', e.target.result);
    }
    reader.readAsDataURL(input.files[0]);
    }
    }
    $("#imagem").change(function () {
    readURL(this);
    });
    function validateFormRegisto() {
    let num = $('#registerNumAluno').val();
    let email = $('#registerEmail').val();
    let nome = $('#registerNome').val();
    let password = $('#registerPassword').val();
    let imagem = $('#registerImagem').val();
    return (num.length > 0 && email.length > 0 && nome.length > 0 && password.length >= 8 && imagem.length > 0)
    ? true : false;
    }
    bootstrapValidate('#registerNumAluno', 'required:Introduza o número de aluno.');
    bootstrapValidate('#registerEmail', 'required:Introduza um email.|email:Introduza um email válido.');
    bootstrapValidate('#registerNome', 'required:Introduza um nome.');
    bootstrapValidate('#registerPassword', 'min:8:Introduza uma password com mais de 8 caractéres.')
    bootstrapValidate('#registerImagem', 'required:Escolha uma imagem de perfil.');




