.card.groups-box
 .card-body
  .d-flex.flex-wrap.justify-content-center
    if grupos.length > 0
      each grupo in grupos
        include ../elements/profile-group.pug
    else 
      h5.text-center Não pertence a nenhum grupo...