.card.groups-box
 .card-body
  .d-flex.flex-wrap.justify-content-center
    h4 Membros
    each user in grupo
        include ../elements/group-member.pug
    else 
      h5.text-center Não existem membros...