nav.shadow.navbar.navbar-light.bg-light.justify-content-between
  //homepage
  a.navbar-brand(href='/feed')
    img.rounded(src='../favicon.ico' width='40' height='40' alt='')

  //groups
  .container.d-flex.justify-content-start
    .dropdown
      button#dropdownMenuButton.btn.dropdown-toggle.profile-navbar-span(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-users
        |  Grupos
      .dropdown-menu(aria-labelledby='dropdownMenuButton')
        a.dropdown-item(href='/grupos') 
          i.fas.fa-user-friends
          |  Ver grupos
        a.dropdown-item(data-toggle='modal' data-target='#criarGrupoModal')
          i.fas.fa-plus
          |  Criar grupo
    button.btn.profile-navbar-span(type='button' data-toggle='modal' data-target='#criarPublicacaoModal')
      i.fas.fa-paper-plane
      |  Publicar

  //options
  .btn-group.dropleft.rounded.navbarUserDropdownDiv
    button.btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      img.d-inline-block.align-right.rounded.image-cover(src="/ficheiros/"+ utilizador.foto.name  height="50px" width="50px")
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
       a.dropdown-item(href='/perfil') 
        i.fas.fa-user
        |  Perfil
       a.dropdown-item(data-toggle='modal' data-target='#editarUtilizadorModal')
        i.fas.fa-user-edit
        |  Editar Perfil
       a.dropdown-item(href='/logout') 
        i.fas.fa-power-off
        |  Logout

if publicacao
  include ../modals/criar-comentario.pug
include ../modals/criar-pub.pug
include ../modals/criar-grupo.pug
include ../modals/editar-utilizador.pug



