nav.shadow.navbar.navbar-light.bg-light.justify-content-between
  //homepage
  a.navbar-brand(href='/feed')
    img(src='./favicon.ico' width='30' height='30' alt='')

  //groups
  .container.d-flex.justify-content-start
    .dropdown
      button#dropdownMenuButton.btn.dropdown-toggle.profile-navbar-span(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-user-friends
        |  Grupos
      .dropdown-menu(aria-labelledby='dropdownMenuButton')
        a.dropdown-item(href='#') Ver grupos
        a.dropdown-item(href='#') Criar grupo
    button.btn.profile-navbar-span(type='button' data-toggle='modal' data-target='#criarPublicacaoModal')
      i.fas.fa-paper-plane
      |  Publicar

  //options
  .btn-group.dropleft
    button.btn.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      img.d-inline-block.align-right.rounded(src="/ficheiros/"+ utilizador.foto.name  height="50px" width="50px")
    .dropdown-menu(aria-labelledby='dropdownMenuButton')
       a.dropdown-item(href='/profile') Perfil
       a.dropdown-item(href='/logout') Logout


include ../modals/criar-pub.pug


