.d-flex.flex-column
    .post-container.d-flex.flex-column.rounded
      .post 
        img.rounded(src="/ficheiros/"+ utilizador.foto.name  height="50px" width="50px")
        strong #{utilizador.nome}
      