.rounded.profile-group.m-1
    a(href='../grupos/'+grupo.id)
        img.image-cover.rounded(src='../ficheiros/'+grupo.fotoGrupo.name height='100%' width='100%')
        p.text-center.group-figure #{grupo.nome}

