// Modal
#criarComentarioModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='criarComentarioModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title
          img.image-cover.d-inline-block.align-right.rounded(src="/ficheiros/"+ utilizador.foto.name  height="50px" width="50px")
          strong  #{utilizador.nome}
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
              form(method='POST' action='/publicacoes/comentario/' enctype='multipart/form-data' onsubmit="return validateFormComentarioModal()")

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-align-justify
                  textarea.form-control(type='text' id="createComentarioTexto" name="texto" placeholder='Comentário...')

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-paperclip
                  input.form-control(type='file' id="createComentarioAnexos" name="ficheiro" multiple)


                input.form-control(type="hidden" name="idPublicacao" value=publicacao[0].id)

                .form-group
                  input.btn.float-right.login_btn(type='submit' value='Publicar')

block script
  script(src='/scripts/views/criar-comentario-modal.js')