// Modal
#criarGrupoModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='criarGrupoModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
              form(method='POST' action='/grupos' enctype='multipart/form-data' onsubmit="return validateFormGrupoModal()")
                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-heading
                  input.form-control(type='text' id="createGrupoNome" name="nome" placeholder='Nome do grupo')

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-users-cog
                  select#createGrupoTipo.form-control(name="tipo")
                    option(value='publico' selected) Público
                    option(value='privado') Privado

                .input-group.form-group.d-none#createGrupoPasswordDiv
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-key
                  input.form-control(type="password" id="createGrupoPassword" name="password")

                .input-group.form-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-id-card
                  input.form-control(type='file' id="createGrupoImagem" name="imagem" multiple)

                .form-group
                  input.btn.float-right.login_btn(type='submit' value='Criar Grupo')

block script
  script(src='/scripts/views/criar-grupo-modal.js')