extends ../layouts/layout-logged

block content
    .container.mt-5
        .d-flex.flex-row
            .container-fluid
                h2 Publicações mais recentes
                include ../elements/posts-feed.pug
            .container-fluid
                h2 Grupos mais populares
                include ../elements/groups-list.pug