extends ../layouts/layout-logged

block content
  .d-flex.flex-column
    .d-flex.flex-column
      .header-bg
      .profile-navbar.shadow.d-flex.flex-row
        .box
        .d-flex.flex-row.profile-bio
          p #{utilizador.bio}
      img.rounded.profile-picture(src="/ficheiros/"+ utilizador.foto.name  height="200px" width="200px")
    .d-flex.justify-content-around.mt-3.mb-5.perfil-body.align-items-start
      include ../elements/perfil-card.pug
      include ../elements/posts-feed.pug
      include ../elements/groups-list.pug


    
