extends ../layouts/layout-logged

block content
    .container-fluid
        .d-flex.flex-wrap
            each grupo in grupos
                .d-flex.flex-column.mr-2
                    p #{grupo.nome}
                    p #{grupo.utilizadores.length}
                    p #{grupo.fotoGrupo.name}
                    p #{grupo.tipo}